.progress-loader-container {
  position: fixed;
  width   : 100%;
  z-index : 99999;
  top     : 0;
  left    : 0;
}

.loader-container {
  position  : absolute;
  display   : block;
  margin-top: -150px;
  box-sizing: border-box;
  width     : 100%;
  height    : calc(100% + 150px);
  height    : -moz-calc(100% + 150px);
  height    : -webkit-calc(100% + 150px);
  background: #000;
  opacity   : 0.5;
  z-index   : 99999999;
}

.loader-spinner {
  top : 47%;
  left: 47%;
}

.loader-container-partial {
  position  : fixed;
  width     : 100%;
  height    : 100%;
  background: #000;
  opacity   : 0.5;
  z-index   : 99999999;
}