<mat-sidenav-container class="main-sidenav-container" autosize>

  <mat-sidenav-content class="main-sidenav-content">

    <app-common-loader></app-common-loader>

    <div class="layout-main-container">

      <div class="layout-content">

        <div style="height: 80px;">
          <app-admin-main-nav-link></app-admin-main-nav-link>
        </div>

        <div class="layout-content-value">
          <router-outlet></router-outlet>
        </div>

      </div>

    </div>

  </mat-sidenav-content>

  <mat-sidenav class="main-sidenav" #snav [opened]="mobileQuery.matches ? false : true"
    [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <perfect-scrollbar>
      <mat-nav-list>
        <app-admin-main-nav-bar></app-admin-main-nav-bar>
      </mat-nav-list>
    </perfect-scrollbar>
  </mat-sidenav>

</mat-sidenav-container>