<h1>user-profile works!</h1>
<p style="height: 550px;">
    {{ currentUser.fullName | getFullnameWithGender: currentUser.gender}}
</p>
<div style="bottom:0;">
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>
    sss
    sds
    <br>

    sss
    sds
    <br>
    sss
    sds
    <br>
    <span style="color: red;">Hi</span>
</div>
