<app-common-loader [type]="loaderType.PartialPage" [color]="loaderColor.Primary"></app-common-loader>

<div class="register-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">

        <mat-card-header>
            <mat-card-title>
                <h1>Register</h1>
            </mat-card-title>
        </mat-card-header>

        <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" class="example-form">
            <mat-card-content>

                <mat-form-field appearance="standard" class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="username" type="text" autocomplete="off" required email>
                    <mat-error *ngIf="!registerForm.controls['username'].valid && registerForm.controls['username'].touched">
                        {{getErrorMessage('username')}}
                    </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="standard" class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" autocomplete="off" [type]="hide ? 'password' : 'text'"
                        required>
                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint>
                        At least 8 characters long including uppercase, lowercase, numeric, and special character.
                    </mat-hint>

                    <mat-error *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">
                        {{getErrorMessage('password')}}
                    </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="standard" class="example-full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirmPassword" autocomplete="off" 
                    [type]="hideConfirm ? 'password' : 'text'"
                    pattern="{{ registerForm.controls['password'].value }}"
                        required>
                    <button mat-icon-button matSuffix type="button" (click)="hideConfirm = !hideConfirm"
                        [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hideConfirm">
                        <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>

                    <mat-error *ngIf="(!registerForm.controls['confirmPassword'].valid || registerForm.controls['confirmPassword'].hasError('pattern')) && registerForm.controls['confirmPassword'].touched">
                        {{getErrorMessage('confirmPassword')}}
                    </mat-error>
                    <!-- <mat-error *ngIf="registerForm.hasError('notSame')">
                        Passwords do not match
                    </mat-error>  -->
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="standard" class="example-full-width">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option>Select an option</mat-option>
                      <mat-option *ngFor="let gen of userGender | keyvalue" [value]="gen.value">{{ gen.key }}</mat-option>
                    </mat-select>

                    <!-- <mat-error *ngIf="registerForm.controls['gender'].hasError('required')">
                        Please choose a gender
                    </mat-error> -->
                    <mat-error *ngIf="!registerForm.controls['gender'].valid && registerForm.controls['gender'].touched">
                        {{getErrorMessage('gender')}}
                    </mat-error>
                  </mat-form-field>
                <br><br>
                <mat-form-field appearance="standard" class="example-full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" type="text" autocomplete="off" required [maxlength]="50">
                    <mat-error *ngIf="!registerForm.controls['firstName'].valid && registerForm.controls['firstName'].touched">
                        {{getErrorMessage('firstName')}}
                    </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="standard" class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" type="text" autocomplete="off" required [maxlength]="50">
                    <mat-error *ngIf="!registerForm.controls['lastName'].valid && registerForm.controls['lastName'].touched">
                        {{getErrorMessage('lastName')}}
                    </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="standard" class="example-full-width">
                    <mat-label>National ID</mat-label>
                    <input matInput formControlName="nationalId" type="text" autocomplete="off" numeric>
                    <mat-error *ngIf="!registerForm.controls['nationalId'].valid && registerForm.controls['nationalId'].touched">
                        {{getErrorMessage('nationalId')}}
                    </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="standard" class="example-full-width">
                    <mat-label>BirthDate</mat-label>
                    <!-- <input matInput formControlName="birthdate" type="date" date required> -->
                    <input matInput formControlName="birthdate" [matDatepicker]="picker" (click)="picker.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker  #picker></mat-datepicker>
                    <mat-error *ngIf="!registerForm.controls['birthdate'].valid && registerForm.controls['birthdate'].touched">
                        {{getErrorMessage('birthdate')}}
                    </mat-error>
                  </mat-form-field>

            </mat-card-content>

            <br>
            <button mat-raised-button type="submit" class="btn-block"
                [disabled]="!registerForm.valid">Submit</button>

        </form>

        <p style="text-align: center; padding-top: 25px;">
            <button mat-stroked-button color="primary" type="button" (click)="login()">Login</button>
        </p>
    </mat-card>

</div>