<app-common-loader [type]="loaderType.PartialPage" [color]="loaderColor.Primary"></app-common-loader>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">

        <mat-card-header>
            <mat-card-title>
                <h1>Log in</h1>
            </mat-card-title>
        </mat-card-header>

        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" class="example-form">
            <mat-card-content>

                <mat-form-field appearance="standard" class="example-full-width">
                    <mat-label>Enter your email</mat-label>
                    <input matInput formControlName="username" type="text" autocomplete="off" required email>
                    <mat-error *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched">
                        {{getErrorMessage('username')}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" class="example-full-width">
                    <mat-label>Enter your password</mat-label>
                    <input matInput formControlName="password" autocomplete="off" [type]="hide ? 'password' : 'text'"
                        required>
                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint>
                        At least 8 characters long including uppercase, lowercase, numeric, and special character.
                    </mat-hint>

                    <mat-error *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                        {{getErrorMessage('password')}}
                    </mat-error>
                </mat-form-field>

            </mat-card-content>

            <br>
            <button mat-raised-button type="submit" class="btn-block"
                [disabled]="!loginForm.valid">Login</button>

        </form>

        <p style="text-align: center; padding-top: 25px;">
            <button mat-stroked-button color="primary" type="button" (click)="register()">Register</button>
        </p>
    </mat-card>

</div>