<div class="main-menu-header">
    <img class="img-radius"
        src="assets/images/user/{{ (currentUser.gender == 'Woman') ? 'avatar_female.png' : 'avatar_male.png' }}">
    <div class="user-details">
        Welcome {{ currentUser.fullName }}
    </div>
</div>
<div class="tree-hr"></div>

<ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: menuItems }"></ng-container>

<ng-template #recursiveListTmpl let-list="list">

    <ng-template ngFor let-item [ngForOf]="list" let-i="index" let-f="first" let-l="last" [ngForTrackBy]="trackByFn">

        <ng-template [ngIf]="item.children" [ngIfElse]="divAlone">
            <details class="tree-nav__item is-expandable">
                <summary class="tree-nav__item-title"> {{ item.title }}</summary>

                <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.children }"></ng-container>
            </details>
        </ng-template>

        <div *ngIf="item.lineNeed" class="tree-hr"></div>

        <ng-template #divAlone>
            <div class="tree-nav__item">
                <a class="tree-nav__item-title" routerLink="{{ item.url }}" routerLinkActive="tree-nav__active-item"
                    [routerLinkActiveOptions]="{exact: true}">
                    <i class="ion ion-cube"></i>&nbsp;&nbsp;{{ item.title }}</a>
            </div>
        </ng-template>

    </ng-template>

</ng-template>