<h1>User List</h1>
<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Amin" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource">

        <!-- ID Column -->
        <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
        </ng-container> -->

        <!-- Username Column -->
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
            <td mat-cell *matCellDef="let row" class='m-card-title' data-label='Username'>
                 {{ row.username }} 
            </td>
        </ng-container>

        <!-- Gender Column -->
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row" class='m-card-sub-title' data-label='Name'>
                 {{ row.firstName + ' ' + row.lastName | getFullnameWithGender: row.gender }} 
            </td>
        </ng-container>

        <!-- First Name Column -->
        <!-- <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let row"> {{ row.firstName }} </td>
        </ng-container> -->

        <!-- Last Name Column -->
        <!-- <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let row"> {{ row.lastName }} </td>
        </ng-container> -->

        <!-- Birthdate Column -->
        <ng-container matColumnDef="birthdate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Birthdate </th>
            <td mat-cell *matCellDef="let row" class='has_label_on_mobile' data-label='Birthdate'>
                 {{ row.birthdate | getFormatDateTime: dateTimeFormat.YyyyMmDd }} 
            </td>
        </ng-container>

        <!-- Register Time Column -->
        <ng-container matColumnDef="registerDateTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Register Time </th>
            <!-- <td mat-cell *matCellDef="let row"> {{ row.registerDateTime | getFormatDateTime: dateTimeFormat.YyyyMmDdHhMmSs }} </td> -->
            <td mat-cell *matCellDef="let row"  class='has_label_on_mobile' data-label='Register Time'>
                 {{ row.registerDateTime | date:'YYYY-MM-dd HH:mm:ss' }} 
            </td>
        </ng-container>

        <!-- Active Column -->
        <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
            <td mat-cell *matCellDef="let row"> 
                <!-- {{ row.isActive }}  -->
                <mat-checkbox [(ngModel)]="row.isActive" disabled></mat-checkbox>
            </td>
            <!-- -->
        </ng-container>

         <!-- Symbol Column -->
        <!-- <ng-container matColumnDef="star">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="8">No data matching the filter "{{ input.value }}"</td>
        </tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 8, 10 ,100]" aria-label="Select page of users">
    </mat-paginator>
</div>
<br>

<!-- <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>open_in_new</mat-icon>
      <span>Open risk plan</span>
    </button>
    <button mat-menu-item>
      <mat-icon>undo</mat-icon>
      <span>Reset questionnairre</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>delete</mat-icon>
      <span>Delete questionnairre</span>
    </button>
  </mat-menu> -->